<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.birutekno.umrah">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_aiwas_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".WhatsapActivity" />
        <activity android:name=".JamaahActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".KalkulasiActivity" />
        <activity android:name=".InputKalkulasiActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ItineraryActivity" />
        <activity android:name=".JadwalActivity" />
        <activity android:name=".LokasiActivity" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".SubAgenActivity" />
        <activity android:name=".KomisiActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".WizardActivity" />
        <activity android:name=".DetailHotelActivity" />
    </application>

</manifest>